{$CADDY_SITE_ADDRESS}

encode gzip

handle /api/* {
	reverse_proxy server:3001
}

handle /socket.io/* {
	reverse_proxy server:3001
}

handle /admin/* {
	root * /srv
	try_files {path} /admin/index.html
	file_server

	@static path *.js *.css *.png *.jpg *.jpeg *.gif *.ico *.svg *.woff *.woff2
	header @static Cache-Control "public, max-age=2592000, immutable"
}

handle {
	root * /srv
	try_files {path} /index.html
	file_server

	@static path *.js *.css *.png *.jpg *.jpeg *.gif *.ico *.svg *.woff *.woff2
	header @static Cache-Control "public, max-age=2592000, immutable"
}
